.card {
  height: 300px;
  width: 300px;
  box-shadow: 0px 0px 2px 1px;
  position: relative;
  display: inline-block;
  margin: 10px;
}

.card-body {
  height: 300px;
  width: 100%;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding: 0;
}

img {
  height: 300px;
  width: 100%;
  position: relative;
  background: center cover no-repeat;
  float: left;
}

.content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 18px;
}

.card > .remove {
  color: #ff1744;
  font-size: 48px;
  position: absolute;
  top: -20px;
  right: 5px;
  cursor: pointer;
}

.card > .remove:hover {
  color: #d50000;
}
